

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">

    <title>{% block title %}title{% endblock %}</title>
  </head>
  <body>
    
    <div id="header">
          <div id="inner_header">
            <div id="logo_container ">
              <h1><span>MY</span> FITNESS <span>PAGE</span></h1>
            </div> 
          </div>
    </div>
    <div id="navbar">
         <ul>
           <li><a href="/home">HOME</a></li>
           <li><a href="/video">VIDEO</a></li>
           <li><a href="/blog">BLOG</a></li>
           <li><a href="/workout">WORKOUT</a>
                 <ul>
                   <li><a>first</a></li>
                   <li><a>secrond</a></li>
                   <li><a>third</a></li>
                   <li><a>fourth</a></li>
                 </ul>
          </li>
           <li><a href="/trainers">TRAINERS</a>
                  <ul>
                    <li><a>trener 1</a></li>
                    <li><a>trener 2</a></li>
                    <li><a>trener 3</a></li>
                    <li><a>trener 4</a></li>
                  </ul>
          </li>
         </ul>


    </div>


    {% block content %}
    {% endblock %}
   





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>